@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --background-color: #07405f;
  --text-color: #ecf8ff;
  --raisin-black: #201e24;
  --night: #151419;
  --gray: #837872;
  --celadon: #b8dfa7;
  --raisin-blacker: #2F2828;


}

body {
  background-color: var(--raisin-black);
  color: var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

nav{
  width: 100vw;
  padding: 2vh 0vh;
  height: 4vh;
  background-color: var(--celadon);
}

footer{

    width: 100vw;
    height: 4vh;
    background-color: var(--celadon);
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 50px;
  height: 100%;
  align-items:center;
  justify-content: center;
  font-size: 20px;
  
}

li{
    color: var(--raisin-blacker);
}
a {
  text-decoration: none;
  color: var(--raisin-blacker);
}

a:visited {
    color: var(--raisin-blacker);
}

main {
  width: 80vw;
  height: 92vh;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-top: 1vh;
}

.row {
  display: flex;
  gap: 50px;
}

.w60vw {
  width: 60vw;
}

.w50vw {
  width: 50vw;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragrafo {
  margin: 1vh;
}

.mt5 {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.cita {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  
}

span {
  margin: 1vh;
}

.title {
  font-size: 36px;
}

.paragrafo {
  display: block;
}

.foto {
  width: 20vw;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#fotoAimee {
  display: flex;
  width: 20vw;
  border-radius: 20px;
}

/* Contato */

label {
  width: 3vw;
}

.mb1vh {
  margin-bottom: 1vh;
}

.dflex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

button {
  background-color: var(--gray);
  border-radius: 5px;
  /* border:0px; */
  height: 4vh;
  width: 3vw;
  color: var(--raisin-black);
  box-shadow: 5px 3px 3px var(--raisin-blacker);
}

.gap10vw {
  gap: 10vw;
}

.p5vh {
  padding: 5vh;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
}